@import url('./reset.css');

/* 헤더탑 */
div.hdrTopWrap{
    background-color: #212517;
}
div.hdrTopWrap>div.hdrTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 35px;
}
div.hdrTopWrap>div.hdrTop>i{}

/* 헤더 */
div.headerWrap{
    background-color: #a31f30;
}
div.headerWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-transform: capitalize;
    line-height: 80px;
}
div.headerWrap>div.header>h1{
    font-size: 25px;
}
div.headerWrap>div.header>ul{
    display: flex;
    column-gap: 10px;
}
div.headerWrap>div.header>ul>li{
    font-size: 20px;
}

/* 컨텐츠 공통 */
div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{
    line-height: 80px;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header>p{
    width: calc(100% / 12 * 6);
    height: 40px;
    margin: 0 auto;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
}
div.cntWrap>div.content>div.section{}
div.cntWrap>div.content>div.section div.article{}
div.cntWrap>div.content>div.section div.article>div.image{
    background-color: #ccc;
}
div.cntWrap>div.content>div.section div.article>div.texts{}
div.cntWrap>div.content>div.section div.article>div.texts>h3{
    line-height: 40px;
    font-size: 25px;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.section div.article>div.texts>h4{
    line-height: 40px;
    font-size: 14px;
}
div.cntWrap>div.content>div.section div.article>div.texts>p{}

/* 컨텐츠1 */
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{}
div.cntWrap>div.content.cnt01>div.section>div.artTop{
    display: flex;
    column-gap: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.image{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>h4{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.icons{}
div.cntWrap>div.content.cnt01>div.section>div.artTop>div.article>div.texts>div.icons>i{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm{
    display: flex;
    column-gap: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.image{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.icons{}
div.cntWrap>div.content.cnt01>div.section>div.artBtm>div.article>div.texts>div.icons>i{}

/* 컨텐츠2 */
div.cntWrap>div.content.cnt02{}
div.cntWrap>div.content.cnt02>div.header{
    background-color: #a31f30;
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{}
div.cntWrap>div.content.cnt02>div.section{}
div.cntWrap>div.content.cnt02>div.section>div.article{
    display: flex;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: 50%;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    width: 50%;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h4{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>p{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.button{}

/* 컨텐츠3 */
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{
    display: flex;
    column-gap: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.article{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{}

/* 푸터 */
div.ftrWrap{
    background-color: #a31f30;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>h4{}
div.ftrWrap>div.footer>p{}
div.ftrWrap>div.footer>div.sns{}
div.ftrWrap>div.footer>div.sns>i{}