@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');

body{
    font-family: 'Playwrite IN';
}
/* 헤더탑 */
.hdrTopWrap {
    background-color: #212517;
}
.hdrTopWrap .hdrTop {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.hdrTopWrap .hdrTop i {}

/* 헤더 */
@keyframes change {
    0%{
        font-family: serif;
    }
    100%{
        font-family: 'Playwrite IN';
    }
}
.hdrWrap {
    background-color: #A31F30;
}
.hdrWrap header {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 700;
    animation: change 0.5s linear infinite;

}
.hdrWrap header h1 {
    font-size: 25px;
}
.hdrWrap header ul {
    display: flex;
    column-gap: 20px;
    font-size: 20px;
}
.hdrWrap header ul li:nth-of-type(4) {
    display: none;
}

/* 컨텐츠 공통 */
.cntWrap{
    margin-top: 80px;
}
.cntWrap .content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
.cntWrap .content header{
    text-align: center;
}
.cntWrap header h2{
    line-height: 80px;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 700;
}
.cntWrap header p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
    width: 50%;
    margin: 0 auto;
}
.cntWrap section{
    margin-top: 40px;
}
.cntWrap section article{}
.cntWrap article .image{
    background-color: #ccc;
}
.cntWrap article .texts{}
.cntWrap .texts h3{
    line-height: 40px;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.cntWrap .texts h4{
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    overflow: hidden;
}
.cntWrap .texts p{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
    font-size: 12px;
}
.cntWrap .texts i{}

/* 컨텐츠1 */
.cnt01{}
.cnt01 header{}
.cnt01 header h2{}
.cnt01 header p{}
.cnt01 section{}
.cnt01 section .artTop{
    display: flex;
    column-gap: 20px;
}
.cnt01 .artTop article{}
.cnt01 .artTop .image{
    height: 320px;
}
.cnt01 .artTop .image.i1{}
.cnt01 .artTop .image.i2{}
.cnt01 .artTop .texts{
    border: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: calc(100% / 6 * 0.6);
    padding-right: calc(100% / 6 * 2);
}
.cnt01 .artTop .texts h3{}
.cnt01 .artTop .texts h4{}
.cnt01 .artTop .texts p{}
.cnt01 .artTop .texts .icons{}
.cnt01 .artTop .texts i{}
.cnt01 section .artBtm{
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}
.cnt01 .artBtm article{}
.cnt01 .artBtm .image{
    height: 320px;
}
.cnt01 .artBtm .image.i1{}
.cnt01 .artBtm .image.i2{}
.cnt01 .artBtm .image.i3{}
.cnt01 .artBtm .texts{
    border: 1px solid #ccc;
    padding: 40px 24px;
}
.cnt01 .artBtm .texts h3{}
.cnt01 .artBtm .texts p{}
.cnt01 .artBtm .texts .icons{}
.cnt01 .artBtm .texts i{}

/* 컨텐츠02 */
.cntWrap .content.cnt02{
    width: 100%;
    max-width: none;
}
.cnt02 header{
    background-color: rgb(255, 60, 0);
    padding-top: 80px;
    padding-bottom: 320px;
}
.cnt02 header h2{}
.cnt02 header p{
    width: calc(80% / 12 * 6);
    margin: 0 auto;
    max-width: 520px;
}
.cnt02 section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -280px;
}
.cnt02 section article{
    display: flex;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
.cnt02 article .image{
    width: 50%;
    height: 440px;
}
.cnt02 article .texts{
    background-color: #fff;
    width: 50%;
    padding: 80px calc(100% / 12);
    text-align: center;
}
.cnt02 article .texts h3{}
.cnt02 article .texts h4{}
.cnt02 article .texts p{
    height: 120px;
}
.cnt02 article .texts .button{
    line-height: 40px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}

/* 컨텐츠03 */
.cnt03{}
.cnt03 header{}
.cnt03 header h2{}
.cnt03 header p{}
.cnt03 section{
    display: flex;
    justify-content: space-between;
}
.cnt03 section article{
    height: 200px;
    overflow: hidden;
    width: calc(100% / 4 - 20px);
    transition: all 0.5s;
}
.cnt03 section article:hover{
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.cnt03 section article:hover .texts{
    margin-top: -200px;
}
.cnt03 article .image{
    height: 200px;
}
.cnt03 article .image.i1{}
.cnt03 article .image.i2{}
.cnt03 article .image.i3{}
.cnt03 article .image.i4{}
.cnt03 article .texts{
    padding: 40px 20px;
    position: relative;
    background-color: #fff;
    transition: all 0.5s;
}
.cnt03 article .texts h3{}
.cnt03 article .texts p{}
.cnt03 article .texts div{
    width: 55px;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255,255,255,0.5);
}

/* 푸터 */
.ftrWrap {
    background-color: #a31f30;
    margin-top: 80px;
}
.ftrWrap footer {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 40px calc(100% / 12 * 2) 80px;
}
.ftrWrap footer h4 {
    line-height: 80px;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.ftrWrap footer p {
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 12px;
}
.ftrWrap footer .sns {
    line-height: 80px;
    font-size: 40px;
}
.ftrWrap footer .sns i {}



/* 태블릿 */
@media screen and (max-width: 1024px){
    /* 이 안의 속성이 태블릿에서 적용됩니다. */
    .cntWrap{
        margin-top: 40px;
    }
    .cntWrap header p{
        width: 100%;
    }
    .cnt01 .artTop article:nth-of-type(2){
        display: none;
    }
    .cnt01 section .artBtm{
        justify-content: space-between;
        column-gap: unset;
    }
    .cnt01 .artBtm article{
        width: calc(50% - 20px);
    }
    .cnt01 .artBtm article:nth-of-type(3){
        display: none;
    }
    .cnt02 article .texts{
        display: none;
    }
    .cnt02 article .image{
        width: 100%;
    }
    .cnt03 section article{
        width: calc(50% - 15px);
    }
    .cnt03 section{
        flex-wrap: wrap;
        row-gap: 40px;
    }
}
@media screen and (max-width:500px){
    .hdrWrap header ul li{

    }
    .hdrWrap header ul li:nth-of-type(4){
        display: block;
    }
}